a(href="#{src}", title="#{title}")
  img(data-src="#{thumbsrc}", alt="#{title}")
  div.progressfill

button.delete.flatbtn
  i.fa.fa-times.icon-white

button.rotate_left.flatbtn
  i.fa.fa-rotate-left.icon-white

button.rotate_right.flatbtn
  i.fa.fa-rotate-right.icon-white
